/* custom.css */

.step-colorbar .colorbar-caption {
    font-size: 30px !important;       /* Aumenta a fonte da legenda */
    font-weight: bold;
}

.step-colorbar .colorbar {
    height: 24px !important;          /* Aumenta a altura da barra */
    margin-top: 6px;
}

.step-colorbar .tick {
    font-size: 14px !important;       /* Aumenta os números dos ticks */
}

.step-colorbar {
    padding: 10px !important;
    width: 90% !important;
}
